<% content_for :head do %>
  <%= javascript_include_tag '/states' %>
  <%= stylesheet_link_tag('checkout') %>
<% end %>
<div id="checkout">
  <h1><%= t(:checkout) %></h1>
  <%= checkout_progress %>
  <br clear="left" />
  <%= render 'shared/error_messages', :target => @order %>
  <% if @order.state != 'confirm' %>
    <div id="checkout-summary">
      <%= render 'summary', :order => @order %>
    </div>
  <% end %>
  <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
    <%= render @order.state, :form => form %>
    <%= submit_tag nil, :id => 'post-final', :style => 'display:none;' %>
  <% end %>
</div>

