<%= f.field_container :name do %>
  <%= f.label :name, t("name") %><br />
  <%= f.text_field :name %>
  <%= f.error_message_on :name %>
<% end %>

<%= f.field_container :presentation do %>
  <%= f.label :presentation, t("presentation") %><br />
  <%= f.text_field :presentation %>
  <%= f.error_message_on :presentation %>
<% end %>

<%= f.field_container :first do %>
  <%= f.label :first, t("type_first") %><br />
  <%= f.check_box :first %>
  <%= f.error_message_on :first %>
<% end%>

<h3><%= t("types") %></h3>
