<script type="text/javascript">
  function displayRow(){
    var row = document.getElementById("captionRow");
    if (row.style.display == '') row.style.display = 'none';
    else row.style.display = '';
  }
</script>

<h4><%= t('available_taxons') %></h4>
<table class="index" id = "available_index">
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th><%= t("action") %></th>
    </tr>
  </thead>
  <tbody>
    <% @available_taxons.each do |taxon| %>
      <tr id="<%= dom_id(taxon, :available) %>">
        <td><%= taxon.name %></td>
        <td class="actions">
          <%= link_to icon('add') + ' ' + t("select"),
                            add_taxon_admin_type_path(@type, taxon),
                           :remote => true, :class => 'iconlink' %>
        </td>        
      </tr>
    <% end %>
    <% if @available_taxons.empty? %>
     <tr><td colspan="3"><%= t('no_match_found') %>.</td></tr>
    <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
$('[id^=available_taxon_]').each(function(){
  var block = $(this);
  block.find('a.iconlink').click(function () {
      block.fadeOut('slow', function() { 
        block.remove();
        $('table#active_index tbody').append(1);
     });
  });
});
<% end %>