<%= render :partial => 'admin/shared/product_sub_menu' %>

<h1><%= t("editing_type") %></h1>

<%= render 'shared/error_messages', :target => @type %>

<%= form_for(:type, :url => object_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= render :partial => 'admin/shared/edit_resource_links' %>
<% end %>

<%= render :partial => 'admin/types/list' %>

<button id="searchtext"><span>Get</span></button>

<%= javascript_tag do %>
  function search_for_taxons(){
    jQuery.ajax({
     data: {type: <%= @type.id %> }, 
     dataType: 'script',
     success: function(request){
       jQuery('#search_hits').html(request);
     },
     type: 'post',
     url: '<%= available_admin_types_url %>'
    });
  }

  jQuery("#searchtext").click(function () {
      search_for_taxons();
	  return false;
  });

  <% end %>
<br/>
<div id="search_hits"></div>

## 
## add.js.erb => $actual_index .append (taxon-id)
## remove.js.erb => $actual_index .remove (taxon-id)