<%= render :partial => 'admin/shared/product_sub_menu' %>

<h1><%= t("editing_type") %></h1>

<%= render 'shared/error_messages', :target => @type %>

<%= form_for(:type, :url => object_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= render :partial => 'admin/shared/edit_resource_links' %>
<% end %>

<%= form_tag('#') do %>
  <label><%= t('search') %>:</label>
  <input id="searchtext" size="25">
<% end %>

<%= javascript_tag do %>
  function search_for_taxons(){
    jQuery.ajax({
     data: {q: jQuery("#searchtext").val() }, 
     dataType: 'script',
     success: function(request){
       jQuery('#search_hits').html(request);
     },
     type: 'post',
     url: '<%= available_admin_types_path %>'
    });
  }

  jQuery("#searchtext").keypress(function (e) {
    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
      search_for_taxons();

      return false;
    } else {
       return true;
    }
  });

  jQuery("#searchtext").delayedObserver(function() {
    search_for_taxons();
  }, 0.75);
<% end %>
<br/>
<div id="search_hits"></div>
