<%= render :partial => 'admin/shared/product_sub_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li id="new_type_link">
      <%= button_link_to t("new_type"), new_admin_type_url, {:remote => true, :icon => 'add', 'data-update' => 'new_type', :id => 'new_type_link'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t("types") %></h1>

<div id="new_type"></div>

<table class="index" id='listing_types'>
  <thead>
    <tr>
      <th><%= t("name") %></th>
	  <th><%= t("type_first") %></th>
	  <th><%= t("permalink") %></th>
      <th><%= t("action") %></th>
    </tr>
  </thead>
  <tbody>
    <% @types.each do |type| %>
      <tr id="<%= dom_id type %>">
        <td><%= type.name %></td>
		<td><%= type.first ? t("yes") : t("no") %></td>
		<td>/<%= type.permalink %>/</td>
		<td>
		  <%= link_to_edit(type) %>
		  &nbsp; 
		  <%= link_to_delete(type) %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>