<%= render 'shared/error_messages', :target => @order %>
<table id="cart_overview">
  <thead>
    <tr class='cart_headers'>
      <th colspan="2"><%= t(:item) %></th>
	  <th><%= t(:delete) %></th>
      <th><%= t(:price) %></th>
      <th><%= t(:qty) %></th>
      <th><%= t(:total) %></th>
    </tr>
  </thead>
  <tbody id="cart_table_items">
    <%= order_form.fields_for :line_items do |item_form| %>
      <%= render 'line_item', :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form %>
    <% end %>
  </tbody>
</table>
