<%= form_for :order, :url => populate_orders_url do |f| %>
  <% if product_price(@product) && @product.variants.empty? %>
      <p class="prices">
        <%= t("price") %>
        <span class="price selling"><%= product_price(@product) %></span>
      </p>
  <% end %>
 
  <p class="stock">
	<%= t("stock") %>: <%= @product.has_stock? ? t('in_stock') : t('out_of_stock') %>
  </p>

  <% if @product.has_variants? %>
  <%= content_tag(:table, :class => 'product_variants_table') do %>

  <% end %>

    <div id="product-variants">
      <h2><%= t('variants') %></h2>
      <ul>
        <%  has_checked = false
        @product.variants.active.each_with_index do |v,index|
          next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
          checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
          has_checked = true if checked %>
          <li>
            <label>
              <%= radio_button_tag "products[#{@product.id}]", v.id, checked, :disabled => !v.in_stock && !Spree::Config[:allow_backorders] %>
              <span class="variant-description">
                <%= variant_options v %>
              </span>
              <span class="price diff">( <%= product_price v %> )</span>
            </label>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
    <%= text_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
      1, :class => "product_quantity", :size => 3 %>
	<input type='image', src="<%= image_path('layout/cart.png') %>">
  <% end %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'product' %>
<% end %>
