<% if @product.has_variants? %>
	<div id='product_variants'>
	<%= content_tag :span, t('variants'), :class => 'option' %>
	<% @product.variants.active.each_with_index do |v,i| %>
		<% next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products]) %>
		<%= form_for :order, :url => populate_orders_url do %>
			<div id='product_variant'>
				<p id='product_options'><%= v.options_text %></p>
				<p id='product_price'><%= t('price') %>: <strong><%= product_price(v) %></strong></p>
				<p id='product_stock'><%= t('stock')%>: <strong id='<%= v.in_stock ? 'in_stock' : 'out_of_stock' %>'><%= v.in_stock ? t('in_stock') : t('out_of_stock') %></strong></p>
				<%= image_submit_tag('layout/shopping_cart.png', :disabled => !v.in_stock && !Spree::Config[:allow_backorders], :id => 'product_add') %>
				<%= hidden_field_tag("products[#{@product.id}]", v.id) %>
				<%= hidden_field_tag("quantity", 1) %>
			</div>
		<% end %>
	<% end %>
	</div>
<% else %>
	<div id='product_variants'>
	<%= form_for :order, :url => populate_orders_url do %>
		<%= image_submit_tag('layout/shopping_cart.png', :disabled => !@product.on_hand && !Spree::Config[:allow_backorders], :id => 'product_add') %>
		<%= hidden_field_tag("products[#{@product.id}]", @product.master.id) %>
		<%= hidden_field_tag("quantity", 1)%>
	<% end %>
	</div>
<% end %>

<%= content_tag(:div, :class => 'product_description') do %>
	<%= product_description(@product) rescue t("product_has_no_description") %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'product' %>
<% end %>
