  <% if product_price(@product) && @product.variants.empty? %>
      <p class="prices">
        <%= t("price") %>
        <span class="price selling"><%= product_price(@product) %></span>
      </p>
  <% end %>
 
  <p class="stock">
	<span><%= t("stock") %>:</span> <%= @product.has_stock? ? t('in_stock') : t('out_of_stock') %>
  </p>

  <div class="product_variants">
	<%= content_tag(:h2, t('variants') )%>
	<% if @product.has_variants? %>
		<div class="variants_wrapper">
		<%= form_for :order, :url => populate_orders_url do |f| %>
		<%= content_tag(:table, :class => 'variants_table') do %>
			<%= draw_variants_headers(@product) %>
			<%= hidden_field_tag('quantity', '1') %>
			<% @product.variants.active.each_with_index do |v,index| %>
				<% next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products]) %>
				<%= content_tag(:tr, :class => 'variant_row') do %>
					<%= content_tag(:td, v.option_values.first.presentation, :class => 'option_value') %>
					<%= content_tag(:td, product_price(v), :class => 'variant_price') %>
					<%= content_tag(:td, radio_button_tag("products[#{@product.id}]", v.id, :disabled => !v.in_stock && !Spree::Config[:allow_backorders]), :class => 'variant_choice_radio') %>
				<% end %>
			<% end %>
			<tr><td colspan="3" class="add_to_cart_row"><%= image_submit_tag('layout/cart.png')%></td></tr>
		<% end %>
		<% end %>
		</div>
	<% end %>
  </div>

<% content_for :head do %>
  <%= javascript_include_tag 'product' %>
<% end %>
