<html>
<head>
  <title>Krasaonline</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>	
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
  <%= csrf_meta_tag %>
  <% if content_for?(:head) %>
  	<%= yield :head %>
  <% end %>
</head>
<body class="wrap">
	<div class="container_12">
		<div class="grid_12">
			<%= render :partial => 'shared/type_menu' %>
		</div>
		<div class="clear"></div>
		<div class="grid_9 divider">
			<%= render :partial => 'shared/search' %>
		</div>
		<div class="grid_3 divider">
			<%= image_tag('layout/box.png') %>
			<strong>Оплата и доставка</strong>
		</div>
		<div class="clear"></div>
		<% if content_for?(:sidebar) %>
			<div class="grid_3">
				<%= yield :sidebar %>
			</div>
			<div class="grid_6">
				<%= yield %>
			</div>
			<div class="grid_3">
				<%= render :partial => "shared/rightbar" %>
			</div>
		<% else %>
			<div class="grid_9">
				<%= yield %>
			</div>
			<div class="grid_3">
				<%= render :partial => "shared/rightbar" %>
			</div>
		<% end %>
		<div class="clear"></div>
	</div>
	<div class="footer-wrap">
		<div class="container_12">
			<div class="grid_12">
				<div id="copyright">
					<div class="title">&copy; 2010 <span class="krasa">Krasa</span><span class="online">Online</span> &mdash; Духи с феромонами</div>
				    <div class="phones">(057) 762-81-01<br>(066) 757-08-06</div>
				</div>
				<div id="developer">
					<div id="developer_title"><a target="_blank" href="http://www.s-label.com.ua">Разработка сайта</a> &mdash; интернет компания S-label</div>
				 <!-- <div id="developer_logo"><a target="_blank" href="http://www.s-label.com.ua"><img alt="Интернет компания S-label" src="/sites/all/themes/krasa/img/s-label-logo.png"></a></div> -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>
